
<!doctype html>
<html lang="en">
  <head>
    {{>header}}
    <title>Home</title>
  </head>
  <body>
    <header>
      {{>navbar}}
      <main>
          <h4>welcome to india</h4>
          <p>do come & visit <span class="chage"></span></p>
          <p class="sendpara"> " india once is not enough "</p>
          <div class="btns">
              <a href="" class="fitbtn">Know more</a>
          <a href="" class="sendbtn">Contact US</a>
          </div>
      </main>
  </header>
  {{>footer}}
  </body>
</html>