
<!doctype html>
<html lang="en">
  <head>
    {{>header}}
    <title>Home</title>
  </head>
  <body>
    <header>
      {{>navbar}}
      <main>
          <h1> This is SECRET PAGE</h1>
          
      </main>
  </header>
  {{>footer}}
  </body>
</html>