       <nav>
          <div class="logo">mera bharat</div>
          <div class="nav_link">
              <a href="/">Home</a>
              <a href="/secret">Secret</a>
              <a href="/register">Registation</a>
              <a href="/login">login</a>
              <a href="/logout">Logout</a>
              
          </div>
      </nav>